body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 20px;
}
.name {
  color: aqua;
}
.top-banar {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  height: 500px;
}
.half-width {
  padding-left: 5%;
  width: 50%;
}
.half-width img {
  width: 80%;
  padding-left: 5%;
}
.Ancor-button {
  text-decoration: none;
  font-weight: 700;
}
button {
  padding: 10px 40px;
  background-image: linear-gradient(aqua, aquamarine);
  border-radius: 5px;
  box-shadow: none;
  margin-top: 50px;
}
